@model SuperMemo.Models.LoginInfoModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_NonLoggedLayout.cshtml";
}

@using (Html.BeginForm("Register", "Authorization", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    <h2 class="form-signin-heading">Create user</h2>
    <div style="margin-bottom: 10px">
        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = "Username"})
        @Html.ValidationMessageFor(m => m.UserName)
        @Html.TextBoxFor(m => m.Password, new {type = "password", @class = "form-control", placeholder = "Password"})
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    if (Model != null && Model.ErrorMessage != null)
    {
        <p>
            <span style="color: red;">@Model.ErrorMessage</span>
        </p>
    }
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
}