<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Memo</title>
        <link href="@Url.Content("~/Skins/Styles/styles.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@Url.Content("~/Scripts/JQueryUI/css/redmond/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" media="screen">
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/namespace.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/proxy.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.1.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/knockout.mapping-latest.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/waiter-min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap/js/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/JQueryUI/js/jquery-ui-1.10.3.custom.min.js")"></script>
        
    <script type="text/javascript">
        superMemo.urls = {
            editCard: '@Url.Action("Edit", "Card")'
        };
    </script>
    </head>
    <body>
        
        
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Memo</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav" id="mainMenuLinks">
              <li id="navTraining" class="active">@Html.ActionLink("Training", "Index", "Drill")</li>
              <li id="navList">@Html.ActionLink("Cards list", "List", "Card")</li>
              <li id="navAdd">@Html.ActionLink("Add card", "Create", "Card")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>@Html.ActionLink(@User.Identity.Name + " (Logout)" ,"Logout", "Authorization")</li>
            </ul>
          </div>
        </nav>

        <div class="container">
            <div class="alert alert-danger alert-dismissable" style="display: none;" id="errorDiv">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <span id="errorText"></span>
            </div>
            @RenderBody()
        </div>
 
        <script>
            $(function() {
                $("#mainMenuLinks li").removeClass("active");
                var navID = $("#navID").val();
                if (navID) {
                    $("#" + navID).addClass("active");
                }
                $("#errorDiv").hide();
            });
        </script>
    </body>
</html>