@model SuperMemo.Models.CardViewModel

@{
    ViewBag.Title = "Edit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/EditCard.js")"></script>

<input type="hidden" value="navAdd" id="navID"/>
<h2>@(string.IsNullOrEmpty(Model.ID)?"Create":"Update") Card</h2>
<div id="cardContentWrapper">
    <input type="hidden" value="@Model.ID" id="WordID"/>
    <div id="wordDiv">
        <label>Word: </label>
        <input type="text" id="wordInput" data-bind="value: word, event: { keypress: wordKeyPress }" maxlength="100" /><span id="wordValidation" style="color: red;"></span>
    </div>
    <div id="translationDiv">
        <label>Translation: </label>
        <input type="text" id="translationInput" data-bind="value: translation, event: { keypress: superMemo.EditCard.translationKeyPress }" maxlength="100" /><span id="translationValidation" style="color: red;"></span>
    </div>
    <div id="buttonsDiv">
        <input type="button" id="saveButton" value="@(string.IsNullOrEmpty(Model.ID) ? "Create" : "Update")" data-bind="click: saveCard"/>
        <span id="messageLabel"></span>
    </div>
</div>

<script>
    $(function () {
        superMemo.EditCard.initEditForm();
        superMemo.EditCard.loadCard('@Model.ID');
    });
</script>