@model SuperMemo.Models.CardViewModel

@{
    ViewBag.Title = "Edit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/card.js")"></script>

<h2>@(string.IsNullOrEmpty(Model.Word)?"Create":"Update") Card</h2>
<div id="cardContentWrapper">
    <div id="wordDiv">
        <label>Word: </label>
        <input type="text" id="wordInput" value="@Model.Word"/>
    </div>
    <div id="translationDiv">
        <label>Translation: </label>
        <input type="text" id="translationInput" value="@Model.Translation"/>
    </div>
    <div id="buttonsDiv">
        <input type="button" id="saveButton" value="@(string.IsNullOrEmpty(Model.Word) ? "Create" : "Update")"/>
    </div>
</div>
